
<h1 class="heading" style="text-align:center;">Display Car with Bounding Box</h1><hr>
<p class="heading" style="text-align:center;">Image 1</p>
<app-display-image [outputValue]="out1"></app-display-image>
<p class="heading" style="text-align:center;">Image 2</p>
<app-display-image [outputValue]="out2"></app-display-image>
<hr>
<h1 class="heading" style="text-align:center;">Predict and Mark Car Name </h1>
<hr>
<app-file-upload></app-file-upload>
<div style="text-align:center;">
  <button [disabled]="!UploadedImage" (click)="Predict()" style="padding: 5px;">Predict</button>
</div>
<app-display-image [outputValue]="out3"></app-display-image>
